* {
    margin: 0;
    border: 1px solid red;
}

.main-container {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    grid-row: 1 / -1;
}

ul {
    margin-top: 50px;
}

.header {}

.main-content {}